
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');


*{
    font-family: "Outfit", sans-serif;
}
/*Styling navbar*/
.navbar{
    background-color: #FBE6CB;
    display: flex;
    width: 100%;
    height: 84px;
    align-items: center;
}

.panier-and-user img{
    width: 30px;
}

.panier-and-user{
    display: flex;
    justify-content: flex-end;
}
.nav-burger-menu{
    width: 100%;
    display: flex;
    justify-content: end;
}

.nav-burger-menu img{
    width: 50px;
    height: 50px;
    left: 356px;
    top: 17px;
    
}

.nav-logo img{
    padding: 18px 0 18px 45px;
}

nav ul{
    list-style: none;
    display: flex;
    width: 70%;
    justify-content: center;
}


nav ul li a{
    text-decoration: none;
    color: black;
    margin: 0 22px;
}

nav li{
    display: inline;
}
@media(min-width:700px){
    .nav-burger-menu{
        opacity: 0;
        width: 0;
    }
}

@media(max-width:700px){
    .nav-list{
        opacity: 0;
        position: absolute;
    }
    .panier-and-user{
        opacity: 0;
        position: absolute;
    }
}

/*styling footer*/

.footer{
    background-color: #FFC57A;
    display: flex;
    height: 265px;
}


.footer-update_social-media-update, .footer-support {
    background-color: #FF6545;
    border-radius: 8px;
}

.footer-support-update{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

.footer-support ul{
    list-style: none;
}

.footer-support{
    width: 226px;
    height: 144px;
}

.footer-support h1{
    display: inline;
    position: relative;
    left: 14px;
    top: 6px;
}

.footer-support ul{
    position: relative;
    left: 37px;
    top: 8px;
    width: 152px;
    font-weight: 450;
}

.footer-support ul li{
    margin-bottom: 10px;
}

.footer-update_social-media-update{
    width: 226px;
    height: 89px;
}

.footer-update_social-media-update h1{
    display: inline;
    position: relative;
    left: 14px;
    top: 6px;
    font-size: 20px;
}

.footer-input{
  border-radius: 8px;
  background-color: #FBF7DC;
  width: 177px;
  height: 30px;
  border: none;
  font-weight: light;
  position: relative;
  top: 10px;
  left: 17px;
}


.footer-logo_caption{
    padding: 72px 0 0 23px;
    width: 300px;
}

/*catalouge css*/
body{
    background-color: rgb(219, 134, 22);
}

.catalogue-image{
    width: 200px;
}

.car{
    background-color: #402C2C;
    width: 526px;
    height: 186px;
    display: flex;
    margin: 10px;
     
}

#catalogue{
    display: flex;
    flex-wrap: wrap;
}
h3{
color: white;
  align-content: right ;
  margin: 20px;
}
p{
    color: white;
   margin: 20px;
}
button{
    margin: 20px;
    color:black;
    border-radius: 12px;
    background-color: #FAB97E;
}